.one-cube {
  max-height: 200px;
  max-width: 40vw;
}

.two-cubes {
  max-height: 200px;
  max-width: 40vw;
}

.two-cubes-wide {
  max-height: 200px;
  max-width: 44vw;
}

.three-cubes {
  max-height: 200px;
  max-width: 29vw;
}

.five-cubes {
  max-height: 200px;
  max-width: 16vw;
}